@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: 'Lato', sans-serif;
}
.common-container {
    width: 1600px;
    margin: 0 auto;
    min-height: 100%;
}
.centring-content {
    width: 1140px;
    margin: 0 auto;
   /* border-right: 1px solid red;
    border-left: 1px solid red;*/
}
.top-header {
    background-color: #ffffff;
    width: inherit;
}
.header-content {
    height: inherit;
}
.header-panel {
    width: inherit;
    height: 100px;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.17);
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 105px;
    height: 59px;
    display: flex;
    /*margin-right: 37px;*/
    padding-left: 60px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 59px;
    line-height: 59px;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}
.logo-name-last-letter {
    font-weight: 900;
    color: #f16d7f;
    font-size: 26px;
}
.search {
    display: flex;
    align-items: center;
    height: 39px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    overflow: hidden;
}
.browse {
    text-align: center;
    width: 87px;
    height: inherit;
    border-right: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    line-height: 39px;
}
.browse:hover {
    cursor: pointer;
    background-image: none;
    background-color: #f16d7f;
    color: white;
}
.search-field {
    width: 279px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 16px;
    line-height: 39px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}
.search-button {
    width: 39px;
    height: inherit;
    font-size: 14px;
    font-weight: 400;
    color: #a4a4a4;
    background-color: white;
    border: none;
    border-left: 1px solid #e6e6e6;
}
.search-button:hover {
    cursor: pointer;
    background-color: #f16d7f;
    color: white;
}
.cart-img {
    width: 31px;
    height: 28px;
    margin-left: 340px;
    margin-right: 26px;
}
.cart-img:hover {
    width: 33px;
    height: 30px;
    margin-left: 339px;
    margin-right: 25px;
}
.my-account {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
}
.my-account:hover {
    cursor: pointer;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    outline: 1px solid #e6e6e6;
    color: #222222;
}
.header-nav-bar {
    width: inherit;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 0 230px;
    box-sizing: border-box;
}
.header-nav-bar-item {
    display: block;
    height: inherit;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
}
.header-nav-bar-item:hover {
    color: #f16d7f;
}
.top-banner {
    width: inherit;
    height: 614px;
    background-image: url(../images/topHeaderBack.png);
    background-repeat: no-repeat;
    background-position: 762px  0px;
    background-size: 554px;
    background-color: #e8e8e8;
}
.top-banner-content {
    position: relative;
    height: inherit;
}
.top-banner-text {
    position: absolute;
    top: 225px;
    height: 92px;
    border-left: 12px solid #f16d7f; 
    padding-left: 12px; 
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}
.top-banner-text div:first-child {
    font-size: 60px;
    line-height: 45px;
}
.top-banner-text div:last-child {
    font-size: 40px;
    line-height: 60px;
}
.top-banner-text div:last-child .last-word {
     color: #f16d7f;
}
.main-filler {
    width: inherit;
}
.main-filler-content {
    padding: 100px 0px;
}
.recommendations {
    height: 823px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 100px;
}
.offer {
    position: relative;
    width: 560px;
}
.offer:hover{
    cursor: pointer;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
}
.offer-left-top {
    height: 542px;
    background-image: url(../images/offer1.jpg);
}
.offer-left-bottom {
    height: 261px;
    background-image: url(../images/offer2.jpg);
}
.offer-rigth-top {
    height: 261px;
    background-image: url(../images/offer3.jpg);
}
.offer-rigth-bottom {
    height: 542px;
    background-image: url(../images/offer4.jpg);
}
.offer-label {
    position: absolute;
    top: 26px;
    height: 50px;
    background-color: white;
    padding: 16px 20px;
}
.offer:hover .offer-label{
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
}
.offer-label p {
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.offer-label p:first-child {
    font-size: 18px;
    color: #222222;
}
.offer-label p:last-child {
    font-size: 30px;
    color: #f16d7f;
}
.featured-items-title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: center;
}
.featured-items-title + p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    text-align: center;
}
.featured-items {
    margin-top: 60px;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.featured-item {
    position: relative;
    width: 260px;
    height: 370px;
    margin-bottom: 40px;
}
.featured-item-buy {
    position: absolute;
    width: inherit;
    height: inherit;
    display: none;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
}
.featured-item-buy-blackout {
    width: inherit;
    height: 280px;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart {
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
}
.add-to-cart img {
    width: 23px;
    padding-top: 9px;
    padding-right: 3px;
    padding-left: 12px;
    float: left;
}
.add-to-cart p {
    font-size: 13px;
    line-height: 39px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: none;
}
.featured-item:hover .featured-item-buy{
    display: block;
    cursor: pointer;
}
.featured-item > img {
   width: inherit;
   height: 280px;
}
.featured-item > p {
    max-height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.featured-item .product-name {
    font-size: 14px;
    color: #222222;
}
.featured-item .product-price {
    font-size: 16px;
    color: #f16d7f;
}
.all-product-button {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.all-product-button:hover {
    cursor: pointer;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    outline: 1px solid #e6e6e6;
    color: #222222;
}
.bottom-banner {
    width: inherit;
    height: 529px;
    background-image: url(../images/offerForWomen.jpg);
    background-repeat: no-repeat;
    background-size: 767px;
    background-color: #222224;
    margin-top: 100px;
}
.bottom-banner-text {
    padding-top: 146px;
    float: left;
}
.bottom-banner-text p {
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.bottom-banner-text p:first-child {
    font-size: 53.7px;
}
.bottom-banner-text p:first-child .last-word {
    color: #f16d7f;
}
.bottom-banner-text p:last-child {
    font-size: 32.2px;
}
.bottom-banner-panel {
    width: 373px;
    height: inherit;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bottom-banner-panel-item {
    width: 250px;
    height: 102px;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-size: 40px;
}
.bottom-banner-panel section:nth-child(1) {      
    background-image: url(../images/offerDetails1.png);
} 
.bottom-banner-panel section:nth-child(2) {      
    background-image: url(../images/offerDetails2.png);
}
.bottom-banner-panel section:nth-child(3) {      
    background-image: url(../images/offerDetails3.png);
}
.bottom-banner-panel-item h2 {
    color: #fbfbfb;
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin-bottom: 10px;
}
.bottom-banner-panel-item p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
}
.subscribe {
    width: inherit;
    height: 438px;
    background: url(../images/subscribe.jpg) no-repeat   rgba(242,242,242,0.5);
    background-blend-mode: color;
}
.subscribe-content {
    height: inherit;
    display: flex;
    align-content: space-between;
}
.subscribe-content .subscribe-part:first-child {
    box-sizing: border-box;
    border-right: 1px solid white;
}
.subscribe-part {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-info {
    height: 180px;
}
.subscriber-foto {
    width: 83px;
    margin-bottom: auto;
    float: left;
}
.subscribe-info p {
    letter-spacing: 0.025em;
    line-height: 26px;
    color: #222224;
}
.subscribe-info-text {
    padding-left: 115px;
}
.subscribe-info-text p:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 19px;
}
.subscribe-info-text p:nth-child(2)  {
    font-size: 16px;
    font-weight: 800;
    color: #f16d7f;
}
.subscribe-info-text p:nth-child(3)  {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}
.subscribe-info-paginator {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    float: left;
    margin-top: 41px;
    margin-right: 13px;
}
.subscribe-info-paginator:hover {
    cursor: pointer;
    background-color: #f16d7f;
}
.subscribe-form {
    width: 386px;
}
.subscribe-form-title {
    color: #222224;
    text-align: center;
    font-weight: 500;
}
.subscribe-form-title h2 {
    font-size: 24px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.subscribe-form-title p {
    font-size: 17px;
}
.subscribe-input-mail {
    width: inherit;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px;
    overflow: hidden;
    margin-top: 35px;
}
.subscribe-input-mail input {
    width: 70%;
    height: inherit;
    border: 0;
    background-color: inherit;
    box-sizing: border-box;
    padding: 0px 28px;
    opacity: 0.67;
    font-size: 14px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    float: left;
}
.subscribe-input-mail button {
    width: 30%;
    height: inherit;
    background-color: #f16d7f;
    border: none;
    font-size: 14px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.subscribe-input-mail button:hover {
    cursor: pointer;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    outline: 1px solid #e6e6e6;
    color: #222222;
}
.clr {
    height: 559px;
}
.footer-container {
    width: 1600px;
    height: 559px;
    margin: 0 auto;
    position: relative;
    top: -559px;
}
.before-footer {
}
.before-footer-content {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}
.brand-info {
    width: 427px;   
    height: inherit;
}
.brand-info p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #898989;
    margin-top: 29px;
}
.before-footer-nav-bar {
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-list p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-bottom: 30px;
    padding-top: 10px;
}
.info-list a {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
}
.info-list a:hover {
    color: #f16d7f;
}
.footer {
    height: 79px;
    background-color: #e6e6e6;
}
.footer-content {
    height: inherit;
}
.footer-content p {
    line-height: 79px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
    float: left;
}
.social-networks {
    height: inherit;
    width: 191px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social-network {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    text-align: center;
}
.social-network:hover {
    cursor: pointer;
    background-color: #f16d7f;
}
.social-network a {
    display: block;
    height: inherit;
    width: inherit;
}
.social-network:hover a i{
    color: #ffffff;
}
.social-network a i {
    line-height: 32px;
    color: #b2b2b2;
}

