@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: 'Lato', sans-serif;
}
.common-container {
    min-width: 100%;
    min-height: 100%;
}
.centring-content {
    width: 1140px;
    margin: 0 auto;
    /*outline: 1px solid red;*/
}
.top-header {
    background-color: #ffffff;
    width: inherit;
}
.header-separator {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.17);
}
.header-panel {
    width: inherit;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 105px;
    height: 59px;
    display: flex;
    padding-left: 60px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 59px;
    line-height: 59px;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}
.logo-name-last-letter {
    font-weight: 900;
    color: #f16d7f;
    font-size: 26px;
}
.search {
    display: flex;
    align-items: center;
    height: 39px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    overflow: hidden;
}
.browse {
    text-align: center;
    width: 87px;
    height: inherit;
    border-right: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    line-height: 39px;
}
.browse:hover {
    cursor: pointer;
    background-image: none;
    background-color: #f16d7f;
    color: white;
}
.search-field {
    width: 279px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 16px;
    line-height: 39px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}
.search-button {
    width: 39px;
    height: inherit;
    font-size: 14px;
    font-weight: 400;
    color: #a4a4a4;
    background-color: white;
    border: none;
    border-left: 1px solid #e6e6e6;
}
.search-button:hover {
    cursor: pointer;
    background-color: #f16d7f;
    color: white;
}
.cart-img {
    width: 31px;
    height: 28px;
    margin-left: 340px;
    margin-right: 26px;
}
.cart-img:hover {
    width: 33px;
    height: 30px;
    margin-left: 339px;
    margin-right: 25px;
}
.my-account {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
}
.my-account:hover {
    cursor: pointer;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    outline: 1px solid #e6e6e6;
    color: #222222;
}
.header-nav-bar {
    width: inherit;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 0 230px;
    box-sizing: border-box;
}
.header-nav-bar-item {
    display: block;
    height: inherit;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
    box-sizing: border-box;
}
.header-nav-bar-item:hover {
    color: #f16d7f;
    border-bottom: 3px solid #f16d7f;
}
.page-filler {
    width: inherit;
}
.clr {
    height: 1000px;
}
.footer-container {
    height: 559px;
    margin: 0 auto;
    position: relative;
    top: -1000px;
}
.subscribe {
    width: inherit;
    height: 440px;
    background: url(../images/subscribe.jpg) no-repeat ;
    background-color: rgba(242,242,242,0.5);
    background-size: 1600px;
    background-position: center;
    background-blend-mode: color;
}
.subscribe-content {
    height: inherit;
    display: flex;
    align-content: space-between;
}
.subscribe-content .subscribe-part:first-child {
    box-sizing: border-box;
    border-right: 1px solid white;
}
.subscribe-part {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-info {
    height: 180px;
}
.subscriber-foto {
    width: 83px;
    margin-bottom: auto;
    float: left;
}
.subscribe-info p {
    letter-spacing: 0.025em;
    line-height: 26px;
    color: #222224;
}
.subscribe-info-text {
    padding-left: 115px;
}
.subscribe-info-text p:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 19px;
}
.subscribe-info-text p:nth-child(2)  {
    font-size: 16px;
    font-weight: 800;
    color: #f16d7f;
}
.subscribe-info-text p:nth-child(3)  {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}
.subscribe-info-paginator {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    float: left;
    margin-top: 41px;
    margin-right: 13px;
}
.subscribe-info-paginator:hover {
    cursor: pointer;
    background-color: #f16d7f;
}
.subscribe-form {
    width: 386px;
}
.subscribe-form-title {
    color: #222224;
    text-align: center;
    font-weight: 500;
}
.subscribe-form-title h2 {
    font-size: 24px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.subscribe-form-title p {
    font-size: 17px;
}
.subscribe-input-mail {
    width: inherit;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px;
    overflow: hidden;
    margin-top: 35px;
}
.subscribe-input-mail input {
    width: 70%;
    height: inherit;
    border: 0;
    background-color: inherit;
    box-sizing: border-box;
    padding: 0px 28px;
    opacity: 0.67;
    font-size: 14px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    float: left;
}
.subscribe-input-mail button {
    width: 30%;
    height: inherit;
    background-color: #f16d7f;
    border: none;
    font-size: 14px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.subscribe-input-mail button:hover {
    cursor: pointer;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    outline: 1px solid #e6e6e6;
    color: #222222;
}
.before-footer {
}
.before-footer-content {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}
.brand-info {
    width: 427px;   
    height: inherit;
}
.brand-info p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #898989;
    margin-top: 29px;
}
.before-footer-nav-bar {
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-list p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-bottom: 30px;
    padding-top: 10px;
}
.info-list a {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
}
.info-list a:hover {
    color: #f16d7f;
}
.footer {
    height: 79px;
    background-color: #e6e6e6;
}
.footer-content {
    height: inherit;
}
.footer-content p {
    line-height: 79px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
    float: left;
}
.social-networks {
    height: inherit;
    width: 191px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social-network {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    text-align: center;
}
.social-network:hover {
    cursor: pointer;
    background-color: #f16d7f;
}
.social-network a {
    display: block;
    height: inherit;
    width: inherit;
}
.social-network:hover a i{
    color: #ffffff;
}
.social-network a i {
    line-height: 32px;
    color: #b2b2b2;
}

